---
layout: page
title: Icarus
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">La Universidad del <b> Mañana</b></h1>
          <p class="animated fadeInUp">No más hipocresía, no más perdida de tiempo. Ven a la universidad de los lideres y de ¡los verdaderos pensadores! </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Sobre Proyecto ICARUS</h2>
            <p>La Unversidad del Mañana</p>
          </div>
          <p>Somos la respuesta, la réplica, la contraofensiva a la decadencia y mediocridad del sistema universitario español. Estamos cansados de esta gran estafa, de esta repugnante máquina de expedir títulos en que se ha convertido la academia. Títulos en gran medida basados en hechos falsos y manipulados por los grandes poderes y mercados. Buscando únicamente estos últimos el beneficio económico y huyendo del amor al conocimiento y a la verdadera ciencia y por ende al progreso de la humanidad.</p>

<p>En la universidad de hoy la ciencia y la tecnología son solo una excusa para aquellos que quieren mantener su estatus de poder, su silla inamovible bajo el amparo del sistema de profesorado español. Y es en esta situación donde los académicos avaros de poder hacen lo que sea necesario para para que no los despojen de su pequeño reinado, incluso si eso significa publicar información falsa, ocultar experimentos fallidos y enseñar falsedades de la peor forma posible en la arcaica tortura llamada clase magistral.</p>

<p>¿Te reconoces en esta situación? ¿Eres capaz de ver el mismo problema que nosotros? ¿Memorizar y Vomitar  también ha sido tu máxima en tu paso por la universidad? Hemos decidido decir basta, lanzar un grito y parar este demencial círculo vicioso. En ICARUS contamos con verdaderos expertos amantes del conocimiento y también grandes conocedores de la pedagogía para dar al mundo una verdadera experiencia universitaria.</p>

<p>Somos una universidad joven pero contamos con la fuerza de las miles de personas que están buscando ICARUS y que aún no lo saben. Únete a nosotros, únete a la universidad del mañana.
</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2 style="color: white;">CREEMOS EN TI Y EN TU PODER</h2>
      <p style="color: white;">Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p style="color: white;">Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p style="color: white;">Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">Admira Nuestros Proyectos</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nuestra Diferencia</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>¿Qué te gustaría aprender?.</h2>
          <p>Estamos siempre en constante búsqueda de nuevas temática para nuestros cursos. Si ves que la universidad no te puede dar los conocemientos necesarios sobre una temática, contacta con nosotros y estudiaremos la posibiidad de organizar un curso.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Hablamos sobre tu idea</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <!-- <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div> -->
    <div class="row">
      <!-- <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div> -->
      <!-- <div class="col-md-6"> -->
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      <!-- </div> -->
    </div>
  </div>
</section>
