<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="{{ site.baseurl }}/contact">¡Únete!</a></li>
            <!--<li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>-->
          </ul>
        </div>
        <p>Proyecto ICARUS. Unidad y Progreso.</p>
      </div>
    </div>
  </div>
</footer>
